@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {

}


.animate-bounce {
  animation: bounce 12s infinite linear;
}

.animate-bounce-inverse {
  animation: bounce-inverse 12s infinite linear;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes bounce-inverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); 
  }
}

